<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <p>
    登录名: <input type="text" id="username">
    <span id="show"></span>
  </p>
  <script SRC="/static/js/common.js"></script>
  <script src="/static/js/jquery-1.11.3.js"></script>
  <script>
    $(function(){
      $("#username").blur(function(){
        //1.创建xhr
        var xhr = createXhr();
        //2.创建请求
        xhr.open('post','/06-server',true);
        //3.设置回调函数
        xhr.onreadystatechange=function(){
          if(xhr.readyState==4&&xhr.status==200){
            $("#show").html(xhr.responseText);
          }
        }
        //4.设置请求消息头
        xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
        //5.发送请求
        xhr.send("username="+$("#username").val());
      });
    });
  </script>
</body>
</html>